OZW_Log.txt
/deps
home-assistant.log
home-assistant_v2.db*
/lib
/open-zwave-control-panel
pyozw.sqlite
options.xml
python-openzwave
secrets.yaml
__pycache__
/home-assistant.git
/.netrc
/.profile
/.bash_history
/.HA_VERSION
/.ipython
/.gitconfig
/.cache
/.uuid
/.viminfo
/.lesshst
/.vim
/.homeassistant
/.pip
/.bashrc
.pylint.d
.python_history
/home-assistant.github.io
/lib-dev
.config
/shnobi
